<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>天气预报</title>
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/example.css">
    <script src="./js/zepto.min.js"></script>
    <script type="text/javascript" src="./js/jweixin-1.0.0.js"></script>
    <script src="./js/weui.min.js"></script>
    <script src="./js/example.js"></script>
</head>

<body ontouchstart>
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">
                <img src="./images/logo.png" alt="WeUI" height="21px"/>
            </h1>
            <p class="page__desc">WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
        </div>
    </div>

    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">Input</h1>
            <p class="page__desc">表单输入</p>
        </div>
        <div class="page__bd">
            <div class="weui-cells__title">单选列表项</div>

            <div class="weui-cells__title">表单</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">qq</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入qq号"/>
                    </div>
                </div>


                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
                </div>
            </div>
            <div class="page__ft">
                <a href="javascript:home()"><img src="./images/icon_footer_link.png"/></a>
            </div>
        </div>
    </div>
</body>
</html>